In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('침수 데이터셋_통합본.csv', encoding = 'CP949')
df

,Unnamed: 0,행정동명,일자,강수량,침수여부,펌프장최소거리,우수저류장최소거리,경사도(합계),경사도(평균),경사도(최소값),경사도(최대값),경사도(최대-최소),고도(평균값),고도(최소값),고도(최대값),고도(최대-최소)
0,0,가음정동,2012-09-17,35.0,0,8590.891138,NaN,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
1,1,가음정동,2012-09-18,0.0,0,8590.891138,NaN,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
2,2,가음정동,2012-09-19,0.0,0,8590.891138,NaN,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
3,3,가음정동,2014-08-25,68.0,0,8590.891138,NaN,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
4,4,가음정동,2016-10-05,94.9,0,8590.891138,11178.59920,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,380,회원2동,2012-09-19,0.0,0,1033.357776,NaN,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797
381,381,회원2동,2014-08-25,77.0,0,1033.357776,NaN,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797
382,382,회원2동,2016-10-05,78.4,0,1033.357776,24232.14216,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797
383,383,회원2동,2019-10-02,73.3,0,1033.357776,18280.18163,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797
384,384,회원2동,2019-10-03,0.0,0,1033.357776,18280.18163,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797

In [14]:
df.isna() # 결측치를 찾는다

,Unnamed: 0,행정동명,일자,강수량,침수여부,펌프장최소거리,우수저류장최소거리,경사도(합계),경사도(평균),경사도(최소값),경사도(최대값),경사도(최대-최소),고도(평균값),고도(최소값),고도(최대값),고도(최대-최소)
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
df.isna().sum()

Unnamed: 0      0
행정동명            0
일자              0
강수량             0
침수여부            0
펌프장최소거리         0
우수저류장최소거리     220
경사도(합계)         0
경사도(평균)         0
경사도(최소값)        0
경사도(최대값)        0
경사도(최대-최소)      0
고도(평균값)         0
고도(최소값)         0
고도(최대값)         0
고도(최대-최소)       0
dtype: int64

In [16]:
df.dropna(subset = ['우수저류장최소거리']) # 내가 원하는 컬럼 우수저류장최소거리 결측치 제거

,Unnamed: 0,행정동명,일자,강수량,침수여부,펌프장최소거리,우수저류장최소거리,경사도(합계),경사도(평균),경사도(최소값),경사도(최대값),경사도(최대-최소),고도(평균값),고도(최소값),고도(최대값),고도(최대-최소)
4,4,가음정동,2016-10-05,94.9,0,8590.891138,11178.59920,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
5,5,가음정동,2019-10-02,46.0,0,8590.891138,10103.15329,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
6,6,가음정동,2019-10-03,0.0,0,8590.891138,10103.15329,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
11,11,가포동,2016-10-05,72.0,0,10714.369280,11553.41533,7638.777283,11.418202,0.000000,30.671194,30.671194,61.556223,0.000000,291.139679,291.139679
12,12,가포동,2019-10-02,73.3,0,10714.369280,11553.41533,7638.777283,11.418202,0.000000,30.671194,30.671194,61.556223,0.000000,291.139679,291.139679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,376,회원1동,2019-10-02,73.3,0,4936.499038,14250.43215,289.991096,3.371989,0.104349,12.728928,12.624579,32.799338,15.316267,80.762871,65.446604
377,377,회원1동,2019-10-03,0.0,0,4936.499038,14250.43215,289.991096,3.371989,0.104349,12.728928,12.624579,32.799338,15.316267,80.762871,65.446604
382,382,회원2동,2016-10-05,78.4,0,1033.357776,24232.14216,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797
383,383,회원2동,2019-10-02,73.3,0,1033.357776,18280.18163,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797
384,384,회원2동,2019-10-03,0.0,0,1033.357776,18280.18163,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797

In [21]:
df['우수저류장최소거리'].mean()

2968.6810029309086

In [18]:
df['우수저류장최소거리'] = df['우수저류장최소거리'].fillna(0) # fliina na 값을 채운다.
df

,Unnamed: 0,행정동명,일자,강수량,침수여부,펌프장최소거리,우수저류장최소거리,경사도(합계),경사도(평균),경사도(최소값),경사도(최대값),경사도(최대-최소),고도(평균값),고도(최소값),고도(최대값),고도(최대-최소)
0,0,가음정동,2012-09-17,35.0,0,8590.891138,0.00000,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
1,1,가음정동,2012-09-18,0.0,0,8590.891138,0.00000,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
2,2,가음정동,2012-09-19,0.0,0,8590.891138,0.00000,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
3,3,가음정동,2014-08-25,68.0,0,8590.891138,0.00000,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
4,4,가음정동,2016-10-05,94.9,0,8590.891138,11178.59920,891.640227,2.456309,0.030497,16.833122,16.802626,36.402825,12.881057,86.235069,73.354012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,380,회원2동,2012-09-19,0.0,0,1033.357776,0.00000,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797
381,381,회원2동,2014-08-25,77.0,0,1033.357776,0.00000,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797
382,382,회원2동,2016-10-05,78.4,0,1033.357776,24232.14216,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797
383,383,회원2동,2019-10-02,73.3,0,1033.357776,18280.18163,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797
384,384,회원2동,2019-10-03,0.0,0,1033.357776,18280.18163,7161.298908,16.889856,1.143089,37.976170,36.833081,233.673595,36.670193,681.851990,645.181797

In [29]:
df['우수저류장최소거리'].mean()

2968.6810029309086

In [30]:
df.to_clipboard(index=False)